body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}

header {
    height: 40px;
    /* background-color: cadetblue; */
     
    
}

main {
    /* background-color: brown; */
    /* height: 400px; */
}

div {
    margin: 0;
    padding: 0;
}

nav {
    background-color: blue;
    /* text-align: left; */
}
ul {
    display: flex;

    /* text-align: left; */
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

.left {
    float: left;
    
}

.right {
    float: right;
}

#circle-icon {
    width: 25px;
    position: relative;
    top: -3px;
    margin: 0;
}

li {
    
    display: inline; 
    padding: 10px; 
    /* margin: 0 15px; */
    /* text-align: left; */
}

#grid-icon {
    width: 15px;
    margin: 0 0 0 0;
    padding: 0px;
    position: relative;
    top: 3px;
}



a {
    text-decoration: none;
    
    margin: 0;
    padding: 0;
}

nav a {
    color: black;
}

footer a {
    color: grey;
}

#logo {
    display: flex;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

form {
    width: 300px;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

input {
    width: 100%;
    /* border: none; */
    border-style: outset;
    display: flex;
    border-radius: 8px;
    font-size: 16px;
    
    /* margin-right: auto;
    margin-left: auto; */
    /* padding: 60px; */
    /* border-radius: 5px; */
}

button {
    margin: 20px 20px 0 20px;
    padding: 10px; 
    background-color: beige; 
    color: grey;
    border: none;
    border-radius: 5px;  
} 

p {
    text-align: center;
    margin: 0;
}

footer {
    background-color: gainsboro;
    color: grey;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* text-align: left;
    
    display: inline-block; */
}

#foot-1 {
    border: 2px solid lightslategrey;
    border-left: 0;
    border-right: 0;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 10px 20px;
    /* text-align: left; */
}

/* input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;    
} 

button {
    display: inline;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;    
}  */